<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="Extended.Wpf.Toolkit" version="1.5.0" />
  <package id="log4net" version="1.2.10" />
  <package id="NetSparkle" version="1.0.83" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="Prism" version="4.0.0.0" />
  <package id="Prism.MEFExtensions" version="4.0.0.0" />
  <package id="twitterizer" version="2.4.0.26532" />
  <package id="twitterizer-streaming" version="2.4.0.26649" />
  <package id="WpfLocalizeExtension" version="1.0.2" />
</packages>